<div class="form-group">
  <input type="text" id="txtName" class="form-control" data-ng-model="Client.tsn"/>
</div>
<div class="form-group">
  <input type="text" id="txtName" class="form-control" data-ng-model="Client.payroll_cd"/>
</div>
<div class="form-group">
  <input type="text" id="txtName" class="form-control" data-ng-model="Client.company_name"/>
</div>
<div class="form-group">
  <input type="text" id="txtName" class="form-control" data-ng-model="Client.status"/>
</div>
<div class="form-group">
  <input type="text" id="txtName" class="form-control" data-ng-model="Client.eff_date"/>
</div>
<div class="form-group">
  <input type="text" id="txtName" class="form-control" data-ng-model="Client.user_id"/>
</div>
<div class="form-group">
  <input type="text" id="txtName" class="form-control" data-ng-model="Client.migrate_requested_ts"/>
</div>

<div class="form-group">
  <button class="btn btn-primary" data-ng-click="save()">Save</button>
  <button class="btn btn-primary" data-ng-click="delete()">Delete</button>
  <button class="btn btn-primary" data-ng-click="cancel()">Cancel</button>
</div>